:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

app-navbar {
  flex-shrink: 0;
}

.sidenav-container {
  flex: 1;
  min-height: 0;
}

.sidenav {
  width: 280px;
  background-color: var(--mat-sys-surface-container);
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: var(--mat-sys-surface);
}
