<mat-nav-list class="nav-list">
  <a mat-list-item (click)="createBtcWallet()">
    <img src="assets/svg/bitcoin-logo.svg" alt="" matListItemIcon class="btc-icon" />
    <span matListItemTitle>{{ 'sidebar.createBtcWallet' | translate }}</span>
    <span matListItemLine>{{ 'sidebar.btcMainnet' | translate }}</span>
  </a>

  @if (isDevMode) {
    <a mat-list-item (click)="createTestWallet()">
      <img src="assets/svg/bitcoin-logo.svg" alt="" matListItemIcon class="btc-icon" />
      <span matListItemTitle>{{ 'sidebar.createTestWallet' | translate }}</span>
      <span matListItemLine>{{ 'sidebar.btcTestnet' | translate }}</span>
    </a>
  }
</mat-nav-list>
